<div class="container">
    <a class="navbar-brand" href="#">
        <i class="fas fa-gem"></i>:|§.title.§|:
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a id="iHome" class="nav-link active" href="#sectionHome" data-section="home">Home</a>
            </li>
            <li class="nav-item">
                <a id="iChiSiamo" class="nav-link" href="#sectionChiSiamo" data-section="about">Chi Siamo</a>
            </li>
            <li class="nav-item">
                <a id="iShop" class="nav-link" href="#sectionShop" data-section="shop">Shop</a>
            </li>
            <li class="nav-item">
                <a id="iContact" class="nav-link" href="#sectionContact" data-section="contact">Contatti</a>
            </li>
        </ul>
    </div>
</div>
